---
const guideTitle = 'Timeless Dispatch';
const description = `Timeless Dispatch is a permaweb application on DataFi Arweave with capabilities to play with time. It's a chat app that allows users to send scheduled messages and files that last forever, with a personal space for organizing messages, notes, and task lists.`;
---
<section class="max-w-6xl mx-auto space-y-8">
    <h1 class="text-4xl mt-32 font-bold">{guideTitle}</h1>
    <p class="text-lg ">{description}</p>

    <div class="prose lg:prose-xl mx-auto dark:prose-dark mt-24">
        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
            <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
              <div class="relative overflow-hidden rounded-xl">
                <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
                alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
              </div>
              <div class="mt-6 relative">
                <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
                    Introduction to Timeless Dispatch
                </h3>
                <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                    Understanding Timeless Dispatch: Your Portal to Time-Defying Communication
                </p>
                <a class="inline-block" href="/guides/l0">
                  <span class="text-info font-bold dark:text-blue-300">Read More</span>
                </a>
              </div>
              
            </div>
            <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
              <div class="relative overflow-hidden rounded-xl">
                <img src="https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
                alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
              </div>
              <div class="mt-6 relative">
                <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
                    Technical: Deep Dive into Timeless Dispatch's DataFi Features
                </h3>
                <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                    The Technical Underpinnings of Timeless Dispatch: DataFi on Arweave Explained
                </p>
                <a class="inline-block" href="/guides/l1">
                  <span class="text-info font-bold dark:text-blue-300">Start Learing</span>
                </a>
              </div>
              
            </div>
            <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
              <div class="relative overflow-hidden rounded-xl">
                <img src="https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
                alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
              </div>
              <div class="mt-6 relative">
                <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
                    The Philosophy of Permanence in Digital Communication
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
                Eternal Echoes: The Role of Permanence in the Evolution of Digital Communication
            </p>
            <a class="inline-block" href="/guides/l2">
                <span class="text-info font-bold dark:text-blue-300">Read More</span>
            </a>
        </div>
    </div>
</section>
